.idea/libraries/dagger_2_9.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/jsr250_api_1_0.xml
build/android-profile/profile-2017-08-28-15-57-11-331.rawproto
build/android-profile/profile-2017-08-28-15-59-22-732.rawproto
build/android-profile/profile-2017-08-29-09-44-00-779.rawproto
build/android-profile/profile-2017-08-29-09-44-19-824.rawproto
.idea/misc.xml
.idea/workspace.xml
app/app.iml
build/android-profile/profile-2017-08-29-09-52-15-621.rawproto
build/android-profile/profile-2017-08-29-09-52-19-900.rawproto
